<p-dialog header="Resource Collector" [(visible)]="dialogVisible" [modal]="true" [style]="{width: '700px'}">

  <p-tabView>
    <p-tabPanel header="Generate Resource Collector">
      <button pButton label="Generate Resource Collector" class="w-full mt-4"></button>
    </p-tabPanel>

    <p-tabPanel header="Attach Resource Collector">
      <div class="flex justify-content-center">
        <button pButton label="Download sw-attacher.js" icon="pi pi-download"></button>
      </div>

      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim
        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
      </p>
    </p-tabPanel>
  </p-tabView>

</p-dialog>
