<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<div class="p-3 border-1 surface-border surface-card border-round project-card">
  <a [routerLink]="'/project/' + project.id">
  <div class="flex flex-column align-items-center gap-3 py-2">
    <img class="w-9 shadow-2 border-round"
      [src]="project.icon"
      alt="project-icon" />
    <div class="text-2xl font-bold card-title">{{project.name}}</div>
  </div>
</a>
  <div class="flex align-items-center justify-content-center">
    <button pButton icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="bottom"
      class="p-button-rounded p-button-warning m-1" (click)="showEditDialog()"></button>
    <button pButton icon="pi pi-trash" pTooltip="Delete" tooltipPosition="bottom"
      class="p-button-rounded p-button-danger m-1" (click)="confirmDelete($event)"></button>
    <button pButton icon="pi pi-file" pTooltip="Manifest" tooltipPosition="bottom"
      class="p-button-rounded p-button-help m-1" (click)="showManifestDialog()"></button>
    <button pButton icon="pi pi-paperclip" pTooltip="Resource Collector" tooltipPosition="bottom"
      class="p-button-rounded p-button-secondary m-1" (click)="showResourceCollectorDialog()"></button>
  </div>
</div>

<app-edit-dialog #editDialog></app-edit-dialog>

<app-manifest-dialog #manifestDialog [projectId]="project.id"></app-manifest-dialog>

<app-resource-collector-dialog #resourceCollectorDialog [projectId]="project.id"></app-resource-collector-dialog>
