<p-dialog header="Manifest" [(visible)]="dialogVisible" [modal]="true" [style]="{width: '700px'}">

  <p-tabView>
    <p-tabPanel header="Generate Manifest">

      <div class="flex flex-column gap-2">
        <label htmlFor="short-name">Short Name</label>
        <input pInputText id="short-name" aria-describedby="short-name-help" [(ngModel)]="name" />
        <small id="short-name-help">Enter your username to reset your password.</small>
      </div>

      <div class="flex flex-column gap-2 mt-3">
        <label htmlFor="description">Description</label>
        <input pInputText id="description" aria-describedby="description-help" [(ngModel)]="value" />
        <small id="description-help">Enter your username to reset your password.</small>
      </div>


      <div class="flex gap-2 mt-3">
        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="display-mode">Display Mode</label>
          <p-dropdown id="display-mode" [options]="options" [(ngModel)]="value" aria-describedby="display-mode-help"></p-dropdown>
          <small id="display-mode-help">Enter your username to reset your password.</small>
        </div>

        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="orientation">Orientation</label>
          <p-dropdown id="orientation" [options]="options" [(ngModel)]="value" aria-describedby="orientation-help"></p-dropdown>
          <small id="orientation-help">Enter your username to reset your password.</small>
        </div>
      </div>

      <div class="flex gap-2 mt-3">
        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="background-color">Background Color</label>
          <p-colorPicker id="background-color" [(ngModel)]="value" aria-describedby="background-color-help"></p-colorPicker>
          <small id="background-color-help">Enter your username to reset your password.</small>
        </div>

        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="theme-color">Theme Color</label>
          <p-colorPicker id="theme-color" [(ngModel)]="value" aria-describedby="theme-color-help"></p-colorPicker>
          <small id="theme-color-help">Enter your username to reset your password.</small>
        </div>
      </div>

      <div class="flex gap-2 mt-3">
        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="start-url">Start Url</label>
          <input pInputText id="start-url" aria-describedby="start-url-help" [(ngModel)]="value" />
          <small id="start-url-help">Enter your username to reset your password.</small>
        </div>

        <div class="flex flex-column gap-2 w-6">
          <label htmlFor="scope">Scope</label>
          <input pInputText id="scope" aria-describedby="scope-help" [(ngModel)]="value" />
          <small id="scope-help">Enter your username to reset your password.</small>
        </div>
      </div>

      <button pButton label="Generate Manifest" class="w-full mt-4"></button>



    </p-tabPanel>
    <p-tabPanel header="Apply Manifest">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim
        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
      </p>
    </p-tabPanel>
  </p-tabView>

</p-dialog>
