body {
  font-size: 18px;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-symbols-rounded{
  align-self: center;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.p-blockui-document.p-blockui.p-component-overlay.p-component-overlay-enter{
  z-index: 500 !important;
}
